security:
    hide_user_not_found: false

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            entry_point: form_login
            user_checker: App\Security\UserChecker

            custom_authenticators:
                - App\Security\GoogleAuthenticator

            form_login:
                login_path: app_login
                check_path: app_login
                success_handler: App\Security\LoginSuccessHandler
                username_parameter: _username
                password_parameter: _password
                use_referer: true

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /

            logout:
                path: app_logout
                target: app_login   


    access_control:
        - { path: ^/connect/google, roles: PUBLIC_ACCESS }
        - { path: ^/connect/google/check, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/signup, roles: PUBLIC_ACCESS }
        - { path: ^/backoffice, roles: ROLE_ADMIN }
        - { path: ^/player, roles: ROLE_PLAYER }
        - { path: ^/coach, roles: ROLE_COACH }
