{% extends 'backoffice/base.html.twig' %}

{% block title %}New Equipe{% endblock %}

    {% block content %}


    {{ include('equipe/admin/_form.html.twig') }}

    <a href="{{ path('app_equipe_index_admin') }}">back to list</a>
{% endblock %}
